<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acta Digital AIE</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/stylesheet.css' %}">
    <script src="{% static 'JS/script.js' %}" defer></script>

    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* Si el usuario está autenticado, se envía su username a Matomo */
      {% if user.is_authenticated %}
        _paq.push(['setUserId', '{{ user.username }}']);
      {% endif %}
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//analytics.vetdata.com.ar/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>
<body>

    <!-- Navbar -->
    <header class="navbar responsive-navbar">
        <!--a href="{% url 'index' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="50">
        </a-->
        <div class="menu-icon" onclick="toggleMenu()">
            <img src="{% static 'images/menu-icon.svg' %}" alt="Menú">
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <!--<li><a href="{% url 'planes' %}">Planes</a></li>-->
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'tutoriales' %}">Tutoriales</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a></li>
            {% endif %}
        </ul>
    </header>

    <!-- Cuerpo principal con columnas laterales -->
    <main class="main-container">
        
        <!-- Columna izquierda - Publicidad -->
        <aside class="left-column">
            <div class="ad-box">
                <h2>Plantilla Excel para Actas Digitales</h2>
                <p>Descargue este excel que contiene todos los campos requeridos por el GRECERT</p>
                <p>Complete todos los campos y mantenga la extensión del archivo ".xls"</p>   
                <a href="{% static 'files/Plantilla_Acta Digital_V1.xlsx' %}" download class="btn">📥 Descargar Plantilla</a> 
            </div>
        </aside>
     
        <!-- Cuerpo central -->
        <section class="central-content">
            <!-- Formulario para subir PDFs -->
            <h1>Adjuntar los PDF de las Actas Digitales de AIE</h1>
            <form action="/convertir_Acta_AIE/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Bloques para 5 archivos PDF adaptados -->
                <div class="plans-container">
                    
                    <div class="plan">
                        <h3>Acta 1</h3>
                        <div>
                            <label for="informe1">Número de informe:</label>
                            <input type="text" id="informe1" name="informe1" maxlength="50" placeholder="Máx. 50 caracteres" required>
                        </div>
                        <input type="file" id="acta1" name="acta1" accept=".pdf" required>
                    </div>

                    <div class="plan">
                        <h3>Acta 2</h3>
                        <div>
                            <label for="informe2">Número de informe:</label>
                            <input type="text" id="informe2" name="informe2" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta2" name="acta2" accept=".pdf">
                    </div>

                    <div class="plan">
                        <h3>Acta 3</h3>
                        <div>
                            <label for="informe3">Número de informe:</label>
                            <input type="text" id="informe3" name="informe3" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta3" name="acta3" accept=".pdf">
                    </div>

                    <div class="plan">
                        <h3>Acta 4</h3>
                        <div>
                            <label for="informe4">Número de informe:</label>
                            <input type="text" id="informe4" name="informe4" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta4" name="acta4" accept=".pdf">
                    </div>

                    <div class="plan">
                        <h3>Acta 5</h3>
                        <div>
                            <label for="informe5">Número de informe:</label>
                            <input type="text" id="informe5" name="informe5" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta5" name="acta5" accept=".pdf">
                    </div>

                    <div class="plan">
                        <h3>Acta 6</h3>
                        <div>
                            <label for="informe6">Número de informe:</label>
                            <input type="text" id="informe6" name="informe6" maxlength="50" placeholder="Máx. 50 caracteres" >
                        </div>
                        <input type="file" id="acta6" name="acta6" accept=".pdf" >
                    </div>

                    <div class="plan">
                        <h3>Acta 7</h3>
                        <div>
                            <label for="informe7">Número de informe:</label>
                            <input type="text" id="informe7" name="informe7" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta7" name="acta7" accept=".pdf">
                    </div>

                    <div class="plan">
                        <h3>Acta 8</h3>
                        <div>
                            <label for="informe8">Número de informe:</label>
                            <input type="text" id="informe8" name="informe8" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta8" name="acta8" accept=".pdf">
                    </div>

                    <div class="plan">
                        <h3>Acta 9</h3>
                        <div>
                            <label for="informe9">Número de informe:</label>
                            <input type="text" id="informe9" name="informe9" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta9" name="acta9" accept=".pdf">
                    </div>

                    <div class="plan">
                        <h3>Acta 10</h3>
                        <div>
                            <label for="informe10">Número de informe:</label>
                            <input type="text" id="informe10" name="informe10" maxlength="50" placeholder="Máx. 50 caracteres">
                        </div>
                        <input type="file" id="acta10" name="acta10" accept=".pdf">
                    </div>

                </div>
                
                <button type="submit" class="btn">Generar Plantilla Excel</button>
            </form>

            <div class="ad-box">
                <h2>Procesar Acta Digital</h2>
                <div class="button-group">                
                    <a href="{% url 'actadigital_bru' %}" class="btn">Brucelosis</a>
                </div>
            </div>

            <div class="ad-box">
                    <h3>Crear JSON</h3>
                    <div class="button-group">
                        <a href="{% url 'aie' %}" class="btn">A.I.E</a>
                        <a href="{% url 'brucelosis' %}" class="btn">Brucelosis</a>
                    </div>
                </div>
        </section>

        <!-- Columna derecha - Publicidad -->
        <aside class="right-column">
            <div class="ad-box">
                <h1>Listado de Códigos de A.I.E.</h1>
                <p>Aquí podrá descargar el Listado de Códigos para completar el excel de A.I.E.</p>
            </div>
        </aside>
    </main>

</body>
</html>