<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acta Digital Brucelosis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/stylesheet.css' %}">
    <script src="{% static 'JS/script.js' %}" defer></script>
    <!-- Matomo -->
    <script>
        var _paq = window._paq = window._paq || [];
        /* Si el usuario está autenticado, se envía su username a Matomo */
        {% if user.is_authenticated %}
        _paq.push(['setUserId', '{{ user.username }}']);
        {% endif %}
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "//analytics.vetdata.com.ar/";
            _paq.push(['setTrackerUrl', u + 'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
        })();
    </script>
    <!-- End Matomo Code -->

</head>

<body>

    <!-- Navbar -->
    <header class="navbar responsive-navbar">
        <!--a href="{% url 'index' %}" class="logo">
            <img src="{% static 'images/logo.png' %}" alt="Logo" width="50">
        </a-->
        <div class="menu-icon" onclick="toggleMenu()">
            <img src="{% static 'images/menu-icon.svg' %}" alt="Menú">
        </div>
        <ul class="nav-links">
            <!-- <li><a href="{% url 'planes' %}">Planes</a></li>-->
            <li><a href="{% url 'index' %}">Inicio</a></li>

            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'tutoriales' %}">Tutoriales</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}" class="logout-button">Cerrar Sesión</a></li>
            {% endif %}

        </ul>
    </header>

    <main class="main-container">

        <!-- Columna izquierda - Publicidad -->
        <aside class="left-column">
            <div class="ad-box">
                <h2>Plantilla Excel para Actas Digitales</h2>
                <p>Descargue este excel que contiene todos los campos requeridos por el GRECERT</p>
                <p>Complete todos los campos y mantenga la extensión del archivo ".xls"</p>
                <a href="{% static 'files/Plantilla_Acta Digital_V1.xlsx' %}" download class="btn">📥 Descargar
                    Plantilla</a>
            </div>
        </aside>
        <section class="central-content">
            <h1>Procesar las Actas Digitales de Brucelosis</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="plans-container">

                    <!-- Acta 1 -->
                    <div class="plan">
                        <h3>Acta 1</h3>
                        <div class="form-group">
                            <label for="informe1">Número de informe:</label>
                            <input type="text" id="informe1" name="informe1" maxlength="50" required>
                        </div>

                        <div class="form-group">
                            <label for="fechaRecepcion1">Fecha de Recepción:</label>
                            <input type="date" id="fechaRecepcion1" name="fechaRecepcion1">
                        </div>

                        <div class="form-group">
                            <label for="fechaInicio1">Fecha Inicio:</label>
                            <input type="date" id="fechaInicio1" name="fechaInicio1">
                        </div>

                        <div class="form-group">
                            <label for="fechaFin1">Fecha Fin:</label>
                            <input type="date" id="fechaFin1" name="fechaFin1">
                        </div>

                        <div class="form-group">
                            <label for="fechaVencimiento1">Vencimiento Antigeno/Kit:</label>
                            <input type="date" id="fechaVencimiento1" name="fechaVencimiento1">
                        </div>

                        <div class="form-group">
                            <label for="resultadoLetra1">Código Resultado:</label>
                            <input type="text" id="resultadoLetra1" name="resultadoLetra1" maxlength="5">
                        </div>

                        <div class="form-group">
                            <label for="antigeno1">Antigeno/Kit:</label>
                            <input type="text" id="antigeno1" name="antigeno1" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="marcaAntigeno1">Marca Antigeno/Kit:</label>
                            <input type="text" id="marcaAntigeno1" name="marcaAntigeno1" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="lote1">Lote:</label>
                            <input type="text" id="lote1" name="lote1" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="estampilla1">Estampilla:</label>
                            <input type="text" id="estampilla1" name="estampilla1" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="codigoDT1">Código DT:</label>
                            <input type="number" id="codigoDT1" name="codigoDT1" maxlength="20">
                        </div>

                        <div class="form-group">
                            <label for="conclusion1">Conclusión:</label>
                            <input type="text" id="conclusion1" name="conclusion1" maxlength="1000">
                        </div>

                        <div class="form-group">
                            <label for="acta1">Adjuntar PDF:</label>
                            <input type="file" id="acta1" name="acta1" accept=".pdf" required>
                        </div>
                        <!-- Checkbox y bloque complementario -->
                        <div class="form-group">
                            <input type="checkbox" id="toggleComp1" name="toggleComp1">
                            <label for="toggleComp1"><strong>Agregar análisis complementario</strong></label>
                        </div>

                    </div>
                    <div id="compBlock1" class="comp-block">
                        <h3>Análisis Complementario</h3>
                        <div class="form-group">
                            <label for="fechaInicioComp1">Fecha Inicio:</label>
                            <input type="date" id="fechaInicioComp1" name="fechaInicioComp1">
                        </div>
                        <div class="form-group"><label for="fechaFinComp1">Fecha Fin:</label><input type="date"
                                id="fechaFinComp1" name="fechaFinComp1"></div>
                        <div class="form-group"><label for="fechaVencimientoComp1">Vencimiento
                                Antigeno/Kit:</label><input type="date" id="fechaVencimientoComp1"
                                name="fechaVencimientoComp1"></div>
                        <div class="form-group"><label for="resultadoLetraComp1">Código Resultado:</label><input
                                type="text" id="resultadoLetraComp1" name="resultadoLetraComp1" maxlength="5"></div>
                        <div class="form-group"><label for="antigenoComp1">Antigeno/Kit:</label><input type="text"
                                id="antigenoComp1" name="antigenoComp1" maxlength="25"></div>
                        <div class="form-group"><label for="marcaAntigenoComp1">Marca Antigeno/Kit:</label><input
                                type="text" id="marcaAntigenoComp1" name="marcaAntigenoComp1" maxlength="25"></div>
                        <div class="form-group"><label for="loteComp1">Lote:</label><input type="text" id="loteComp1"
                                name="loteComp1" maxlength="25"></div>
                        <div class="form-group"><label for="estampillaComp1">Estampilla:</label><input type="text"
                                id="estampillaComp1" name="estampillaComp1" maxlength="25"></div>


                    </div>


                    <!-- Acta 2 -->
                    <div class="plan">
                        <h3>Acta 2</h3>
                        <div class="form-group">
                            <label for="informe2">Número de informe:</label>
                            <input type="text" id="informe2" name="informe2" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="fechaRecepcion2">Fecha de Recepción:</label>
                            <input type="date" id="fechaRecepcion2" name="fechaRecepcion2">
                        </div>
                        <div class="form-group">
                            <label for="fechaInicio2">Fecha Inicio:</label>
                            <input type="date" id="fechaInicio2" name="fechaInicio2">
                        </div>
                        <div class="form-group">
                            <label for="fechaFin2">Fecha Fin:</label>
                            <input type="date" id="fechaFin2" name="fechaFin2">
                        </div>
                        <div class="form-group">
                            <label for="fechaVencimiento2">Vencimiento Antigeno/Kit:</label>
                            <input type="date" id="fechaVencimiento2" name="fechaVencimiento2">
                        </div>
                        <div class="form-group">
                            <label for="resultadoLetra2">Código Resultado:</label>
                            <input type="text" id="resultadoLetra2" name="resultadoLetra2" maxlength="5">
                        </div>
                        <div class="form-group">
                            <label for="antigeno2">Antigeno/Kit:</label>
                            <input type="text" id="antigeno2" name="antigeno2" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="marcaAntigeno2">Marca Antigeno/Kit:</label>
                            <input type="text" id="marcaAntigeno2" name="marcaAntigeno2" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="lote2">Lote:</label>
                            <input type="number" id="lote2" name="lote2" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="estampilla2">Estampilla:</label>
                            <input type="number" id="estampilla2" name="estampilla2" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="codigoDT2">Código DT:</label>
                            <input type="number" id="codigoDT2" name="codigoDT2" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="conclusion2">Conclusión:</label>
                            <input type="text" id="conclusion2" name="conclusion2" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="acta2">Adjuntar PDF:</label>
                            <input type="file" id="acta2" name="acta2" accept=".pdf">
                        </div>
                        <!-- Checkbox y bloque complementario -->
                        <div class="form-group">
                            <input type="checkbox" id="toggleComp2" name="toggleComp12">
                            <label for="toggleComp2"><strong>Agregar análisis complementario</strong></label>
                        </div>
                    </div>

                    <div id="compBlock2" class="comp-block">
                        <h3>Análisis Complementario</h3>

                        <div class="form-group">
                            <label for="fechaInicioComp2">Fecha Inicio:</label>
                            <input type="date" id="fechaInicioComp2" name="fechaInicioComp2">
                        </div>

                        <div class="form-group">
                            <label for="fechaFinComp2">Fecha Fin:</label>
                            <input type="date" id="fechaFinComp2" name="fechaFinComp2">
                        </div>

                        <div class="form-group">
                            <label for="fechaVencimientoComp2">Vencimiento Antigeno/Kit:</label>
                            <input type="date" id="fechaVencimientoComp2" name="fechaVencimientoComp2">
                        </div>

                        <div class="form-group">
                            <label for="resultadoLetraComp2">Código Resultado:</label>
                            <input type="text" id="resultadoLetraComp2" name="resultadoLetraComp2" maxlength="5">
                        </div>

                        <div class="form-group">
                            <label for="antigenoComp2">Antigeno/Kit:</label>
                            <input type="text" id="antigenoComp2" name="antigenoComp2" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="marcaAntigenoComp2">Marca Antigeno/Kit:</label>
                            <input type="text" id="marcaAntigenoComp2" name="marcaAntigenoComp2" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="loteComp2">Lote:</label>
                            <input type="text" id="loteComp2" name="loteComp2" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="estampillaComp2">Estampilla:</label>
                            <input type="text" id="estampillaComp2" name="estampillaComp2" maxlength="25">
                        </div>

                    </div>



                    <!-- Acta 3 -->
                    <div class="plan">
                        <h3>Acta 3</h3>
                        <div class="form-group">
                            <label for="informe3">Número de informe:</label>
                            <input type="text" id="informe3" name="informe3" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="fechaRecepcion3">Fecha de Recepción:</label>
                            <input type="date" id="fechaRecepcion3" name="fechaRecepcion3">
                        </div>
                        <div class="form-group">
                            <label for="fechaInicio3">Fecha Inicio:</label>
                            <input type="date" id="fechaInicio3" name="fechaInicio3">
                        </div>
                        <div class="form-group">
                            <label for="fechaFin3">Fecha Fin:</label>
                            <input type="date" id="fechaFin3" name="fechaFin3">
                        </div>
                        <div class="form-group">
                            <label for="fechaVencimiento3">Vencimiento Antigeno/Kit:</label>
                            <input type="date" id="fechaVencimiento3" name="fechaVencimiento3">
                        </div>
                        <div class="form-group">
                            <label for="resultadoLetra3">Código Resultado:</label>
                            <input type="text" id="resultadoLetra3" name="resultadoLetra3" maxlength="5">
                        </div>
                        <div class="form-group">
                            <label for="antigeno3">Antigeno/Kit:</label>
                            <input type="text" id="antigeno3" name="antigeno3" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="marcaAntigeno3">Marca Antigeno/Kit:</label>
                            <input type="text" id="marcaAntigeno3" name="marcaAntigeno3" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="lote3">Lote:</label>
                            <input type="number" id="lote3" name="lote3" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="estampilla3">Estampilla:</label>
                            <input type="number" id="estampilla3" name="estampilla3" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="codigoDT3">Código DT:</label>
                            <input type="number" id="codigoDT3" name="codigoDT3" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="conclusion3">Conclusión:</label>
                            <input type="text" id="conclusion3" name="conclusion3" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="acta3">Adjuntar PDF:</label>
                            <input type="file" id="acta3" name="acta3" accept=".pdf">
                        </div>
                        <!-- Checkbox y bloque complementario -->
                        <div class="form-group">
                            <input type="checkbox" id="toggleComp3" name="toggleComp3">
                            <label for="toggleComp3"><strong>Agregar análisis complementario</strong></label>
                        </div>
                    </div>

                    <div id="compBlock3" class="comp-block">
                        <h3>Análisis Complementario</h3>

                        <div class="form-group">
                            <label for="fechaInicioComp3">Fecha Inicio:</label>
                            <input type="date" id="fechaInicioComp3" name="fechaInicioComp3">
                        </div>

                        <div class="form-group">
                            <label for="fechaFinComp3">Fecha Fin:</label>
                            <input type="date" id="fechaFinComp3" name="fechaFinComp3">
                        </div>

                        <div class="form-group">
                            <label for="fechaVencimientoComp3">Vencimiento Antigeno/Kit:</label>
                            <input type="date" id="fechaVencimientoComp3" name="fechaVencimientoComp3">
                        </div>

                        <div class="form-group">
                            <label for="resultadoLetraComp3">Código Resultado:</label>
                            <input type="text" id="resultadoLetraComp3" name="resultadoLetraComp3" maxlength="5">
                        </div>

                        <div class="form-group">
                            <label for="antigenoComp3">Antigeno/Kit:</label>
                            <input type="text" id="antigenoComp3" name="antigenoComp3" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="marcaAntigenoComp3">Marca Antigeno/Kit:</label>
                            <input type="text" id="marcaAntigenoComp3" name="marcaAntigenoComp3" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="loteComp3">Lote:</label>
                            <input type="text" id="loteComp3" name="loteComp3" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="estampillaComp3">Estampilla:</label>
                            <input type="text" id="estampillaComp3" name="estampillaComp3" maxlength="25">
                        </div>

                    </div>


                    <!-- Acta 4 -->
                    <div class="plan">
                        <h3>Acta 4</h3>
                        <div class="form-group">
                            <label for="informe4">Número de informe:</label>
                            <input type="text" id="informe4" name="informe4" maxlength="50">
                        </div>
                        <div class="form-group">
                            <label for="fechaRecepcion4">Fecha de Recepción:</label>
                            <input type="date" id="fechaRecepcion4" name="fechaRecepcion4">
                        </div>
                        <div class="form-group">
                            <label for="fechaInicio4">Fecha Inicio:</label>
                            <input type="date" id="fechaInicio4" name="fechaInicio4">
                        </div>
                        <div class="form-group">
                            <label for="fechaFin4">Fecha Fin:</label>
                            <input type="date" id="fechaFin4" name="fechaFin4">
                        </div>
                        <div class="form-group">
                            <label for="fechaVencimiento4">Vencimiento Antigeno/Kit:</label>
                            <input type="date" id="fechaVencimiento4" name="fechaVencimiento4">
                        </div>
                        <div class="form-group">
                            <label for="resultadoLetra4">Código Resultado:</label>
                            <input type="text" id="resultadoLetra4" name="resultadoLetra4" maxlength="5">
                        </div>
                        <div class="form-group">
                            <label for="antigeno4">Antigeno/Kit:</label>
                            <input type="text" id="antigeno4" name="antigeno4" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="marcaAntigeno4">Marca Antigeno/Kit:</label>
                            <input type="text" id="marcaAntigeno4" name="marcaAntigeno4" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="lote4">Lote:</label>
                            <input type="number" id="lote4" name="lote4" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="estampilla4">Estampilla:</label>
                            <input type="number" id="estampilla4" name="estampilla4" maxlength="25">
                        </div>
                        <div class="form-group">
                            <label for="codigoDT4">Código DT:</label>
                            <input type="number" id="codigoDT4" name="codigoDT4" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="conclusion4">Conclusión:</label>
                            <input type="text" id="conclusion4" name="conclusion4" maxlength="1000">
                        </div>
                        <div class="form-group">
                            <label for="acta4">Adjuntar PDF:</label>
                            <input type="file" id="acta4" name="acta4" accept=".pdf">
                        </div>
                        <!-- Checkbox y bloque complementario -->
                        <div class="form-group">
                            <input type="checkbox" id="toggleComp3" name="toggleComp3">
                            <label for="toggleComp3"><strong>Agregar análisis complementario</strong></label>
                        </div>
                    </div>

                    <div id="compBlock3" class="comp-block">
                        <h3>Análisis Complementario</h3>

                        <div class="form-group">
                            <label for="fechaInicioComp3">Fecha Inicio:</label>
                            <input type="date" id="fechaInicioComp3" name="fechaInicioComp3">
                        </div>

                        <div class="form-group">
                            <label for="fechaFinComp3">Fecha Fin:</label>
                            <input type="date" id="fechaFinComp3" name="fechaFinComp3">
                        </div>

                        <div class="form-group">
                            <label for="fechaVencimientoComp3">Vencimiento Antigeno/Kit:</label>
                            <input type="date" id="fechaVencimientoComp3" name="fechaVencimientoComp3">
                        </div>

                        <div class="form-group">
                            <label for="resultadoLetraComp3">Código Resultado:</label>
                            <input type="text" id="resultadoLetraComp3" name="resultadoLetraComp3" maxlength="5">
                        </div>

                        <div class="form-group">
                            <label for="antigenoComp3">Antigeno/Kit:</label>
                            <input type="text" id="antigenoComp3" name="antigenoComp3" maxlength="25">
                        </div>

                        <div class="form-group">
                            <label for="marcaAntigenoComp3">Marca Antigeno/Kit:</label>
                            <input type="text" id="marcaAntigenoComp3" name="marcaAntigenoComp3" maxlength="25">
                        </div>

                </div>

                <!-- Botones uno al lado del otro -->
                <div class="buttons-container">

                    <!-- Botón para Excel -->
                    <button type="submit" class="btn" formaction="/convertir_Acta_bru/">Excel</button>

                    <!-- Botón para JSON -->
                    <button type="submit" class="btn" formaction="/actaBru_JSON/">JSON</button>

                    <!-- Botón para JSON -->
                    <button type="submit" class="btn" formaction="/excel_GRECERT/">Excel GRECERT</button>

                </div>


            </form>

            <div class="ad-box">
                <h2>Adjuntar Excel del acta digital</h2>
                <form action="/crear_json_bru_digital/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!--label for="archivo">Selecciona un archivo Excel:</label--><br>
                    <input type="file" id="archivo" name="archivo" accept=".xls,.xlsx"><br><br>
                    <button type="submit">Converti a JSON</button>
                </form>
            </div>


        </section>

        <aside class="right-column">
            <div class="ad-box">
                <h1>Listado de Códigos de A.I.E.</h1>
                <p>Aquí podrá descargar el Listado de Códigos para completar el excel de A.I.E.</p>
            </div>
        </aside>
    </main>
    <!-- Importar script -->
    <script src="/js/script.js" defer></script>
</body>

</html>